	/* ADDENDUM */

@media (prefers-color-scheme: dark) {
	html {
		content: "dark";
	}
}

.theme-bg-primary-2 {
	background: var(--theme-bg-primary-2);
}

body {
	background: var(--background-deep);
}

.theme-bg-gradient-2 {
	background-image: var(--theme-bg-gradient-2);
}

#theme-toggle { position: absolute; }

.lightbulb {
	height: auto;
	width: 2em;

	position: fixed;
	bottom: 1.2em;
	left: 1.2em;

	z-index: 2;
}

.tertiary-text-color { color: var(--tertiary-text-color); }

a:not(.toc-tooltip-link):not(.footer-link):not(.social-media-icons):not(.getyourcopy) { color: var(--main-theme-color) !important; }

.faded-blue-3 { color: #969cba !important; }

.theme-bg-primary-4 {
	background: var(--theme-bg-primary-2);
	color: var(--quaternary-text-color);
}