body {
	background: #eee;
	color: #444;
	box-sizing: border-box;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	box-shadow: 0 0 2em 0 #444;
	margin: 2em 5vw 2em 5vw;

	padding: 5em;
}

img {
	height: auto;
	width: 25%;
	transition: .7s ease;
}

img:hover {
	width: 60%;
}

a {
	color: #696D82;
	font-size: 1.2em;
	text-transform: lowercase;
}