	/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@700&family=Pacifico&family=Poppins:wght@500&family=Rowdies:wght@300&display=swap');

	/* CSS VARIABLES */

:root {
	--main-grey: #f6f8fc;
	--main-black: #1c1e2e;

	--faded-blue2: #7880B2;

	--main-lnr-gdnt: linear-gradient(90deg, #35ffdb 0%, #feff46 100%);

	--fancy-font: 'Belleza', 'Poppins', 'Roboto', 'Quicksand', sans-serif, monospace, arial;
	--popup-heading: 'Rowdies', 'Montserrat', 'Poppins', 'Quicksand', 'Roboto', monospace, sans-serif, arial;
}

	/* DEBUG */

/* * { outline: 1px solid #f00 !important } */

	/* SIZINGS */

.icon {
	height: auto;
	width: 2.5em;

	transition: 0.3s ease;
}

.icon2 {
	filter: invert(100%);
}

.icon:hover,
.icon:focus {
	transform: rotate(25deg);
}

.toc, .corner-image {
	height: auto;
	width: 10em;
}

	/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.branding, div.shortcuts {
	display: inline-block;
}

div.shortcuts {
	background: var(--main-theme-color);
	border-radius: 8em;

	margin-right: 15%;
	padding: 0.5em 2em 0.5em 2em;
}

		/* LOGO */

.logo {
	height: 46px;
	width: auto;
}

a.navbar-brand {
	position: relative;
}

span.logo-text {
	font-family: 'Rowdies', 'Roboto', 'Poppins', sans-serif, 'Quicksand', monospace, arial;
}

span.logo-text:hover,
span.logo-text:focus {
	color: var(--main-theme-color);
}

span.logo-text::before {
	content: '';
	background: var(--main-theme-color);

	position: absolute;
	height: 0.2em;
	width: 0%;
	bottom: 0;

	transition: 0.7s ease;
}

span.logo-text:hover::before,
span.logo-text:focus::before {
	width: 100%;
}

		/* SHORTCUTS */

header ul {
	list-style: none;

	margin-bottom: 0;
	padding-left: 0;
}

header li {
	display: inline;
}

	/* TABLE OF CONTENTS */

.table-of-contents {
	background: var(--main-lnr-gdnt);
	background-size: 150%;

	padding: 2em 0 2em 0;

	animation: bg-move 15s infinite ease;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background: var(--background-deep);
	border: none;

	display: flex;
	align-items: center;

	padding: 2em 3em;

	transition: all 0.3s ease 0s;
}

.card:hover,
.card:focus {
	padding: 2em 5em;
}

.toc-tooltip {
    background: var(--main-theme-color);
    border-radius: 7em;

    position: absolute;
    padding: 0.1em 1.5em 0.1em 1.5em;
    bottom: 1em;

    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease, padding 0.5s ease;
}

.toc-tooltip a {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}

.card:hover .toc-tooltip,
.card:focus .toc-tooltip {
	opacity: 1;
	transform: translateY(0.5em);
}

.toc-tooltip:hover,
.toc-tooltip:focus {
	padding: 0.1em 5em 0.1em 5em;
}

	/* HERO SECTION */

.cjw-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	position: relative;
	width: 100%;
}

.cjw-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	justify-content: center;
	align-items: center;
}

	/* OUR CORNERS */

.content-section { margin: 3rem 10vw 3rem 10vw }

.corner { transition: 0.5s ease; }

.corner:hover,
.corner:focus { transform: translateY(-0.2em); }

.corner::before {
	content: '';
	background: var(--main-theme-color);

	position: absolute;
	height: 0.2em;
	width: 100%;
	bottom: 0;

	opacity: 0;
	transition: all 0.5s ease;
}

.corner:hover::before,
.corner:focus::before {
	opacity: 1;
	transform: translateY(0.3em);
}

.corner-subheading {
	color: var(--faded-blue);

	display: inline-block;

	margin-left: 10vw;

	cursor: default;
}

.corner-subheading-inverse {
	color: var(--faded-blue);

	display: inline-block;

	margin-right: 10vw;
	float: right;

	cursor: default;
}

.corner-subheading:hover,
.corner-subheading:focus,
.corner-subheading-inverse:hover,
.corner-subheading-inverse:focus {
	color: var(--faded-blue2);
}

.corner-tooltip {
	color: #fff;
	font-family: var(--fancy-font);
	background: var(--faded-blue);
	border-radius: 7em;

	position: absolute;
	max-width: 50vw;
	padding: .2em 2em .2em 2em;
	margin-left: 5vw;

	cursor: default;
	opacity: 0;
	transition: 0.3s ease;
	transform: translateY(-4em);
	z-index: 2;
}

.tooltip-inverse {
	margin-right: 5vw;
	top: 2em;
	right: 0;
}

.corner-subheading:hover ~ .corner-tooltip,
.corner-subheading:focus ~ .corner-tooltip { opacity: 1; }

.corner-subheading-inverse:hover ~ .tooltip-inverse,
.corner-subheading-inverse:focus ~ .tooltip-inverse { opacity: 1; }

.corner-list ul {
	list-style: none;
}

.list-inverse ul {
	text-align: right;
}

.corner-list li {
	background: var(--corner-list-bg);
	color: var(--faded-blue2);
	font-size: 1.1em;
	font-family: var(--fancy-font);
	font-weight: bold;

	cursor: default;
	transition: 1s ease;
}

.list-inverse li {
	padding-right: 2em;
}

.corner-list li:not(.selectable, .selectable2):hover,
.corner-list li:not(.selectable, .selectable2):focus {
	background: none;

	padding-left: 35vw;
}

.list-inverse li:not(.selectable, .selectable2):hover,
.list-inverse li:not(.selectable, .selectable2):focus {
	padding-left: 0;
	padding-right: 35vw;
}

li.selectable { color: var(--main-theme-color); text-decoration: .1em var(--main-theme-color) wavy underline; }
li.selectable2 { color: var(--main-theme-color); }

	/* FOOTER */

.cjw-footer {
	background: var(--main-theme-color);
	font-family: 'Poppins', sans-serif;
}

.cjw-footer div {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.cjw-footer span {
	text-align: center;

	display: block;
}

.cjw-footer a {
	color: #fff !important;
	text-decoration: none;
}

.cjw-footer a:hover,
.cjw-footer a:focus {
	text-decoration: 0.2em solid underline;
}

	/* SERIES TOOLTIPS */

.s-tt::after {
	color: var(--main-black);
	background: #fff;
	box-shadow: 0 0 .3em 0 var(--main-black);
	text-decoration: none !important;

	position: absolute;
	padding: .1em .5em .1em .5em;
	opacity: 0;
	width: 50%;

	transform: translateX(.5em);
	transition: .5s ease;
}

.s-tt:hover::after,
.s-tt:focus::after { opacity: 1; }

.hp-s::after { content: 'Have you ever wanted an escape from reality? Well friend, it’s probably your lucky day, join the magical adventures of the boy who lived!'; }
.pj-s::after { content: 'The apple never falls far from the tree, as they say. Follow Percy, Poseidon’s son, in his journey of navigating through the intricacies of the mortal and god realm, and finding his own path to greatness, away from the shadow of his parent. ' }

	/* ANIMATIONS */

@keyframes bg-move {
	0% { background-position: left; }
	50% { background-position: right; }
	100% { background-position: left; }
}