	/* CSS VARIABLES */

:root {
	--sec-black: #36395e;
}

	/* GENERAL */

.absolute { position: absolute; }
.relative { position: relative; }

.inline-block { display: inline-block; }

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} /* CREDITS TO KEVIN LEARY AND FILMM FOR CODE SNIPPET */

.margin-normal { margin: 0 10vw 0 10vw }

.orange { color: var(--main-theme-color); }

	/* POSITIONS */

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

	/* SIZINGS */

.snk .standard-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.snk img {
	box-shadow: 0.1em 0.3em 0.7em 0 var(--sec-black);

	height: auto;
	width: 35%;

	transition: 0.5s ease;
}

.snk img:hover,
.snk img:focus {
	width: 50%;
}

.snk .si-1 {
	height: auto;
	width: 18%;
}

.snk .si-1:hover,
.snk .si-1:focus {
	width: 25%;
}

.snk .li-1 {
	height: auto;
	width: 50%;
}

.snk .li-1:hover,
.snk .li-1:focus {
	width: 75%;
}

.snk .li-2 {
	height: auto;
	width: 35%;
}

.snk .li-2:hover,
.snk .li-2:focus {
	width: 45%;
}

	/* ARTICLE */

.snk {
	margin: 2em;
}

.snk h1, .snk h2, .snk h3, .snk h4, .snk h5, .snk h6 {
	color: var(--main-black);
	font-family: 'Rowdies', 'Poppins', 'Montserrat', 'Quicksand', 'Roboto', sans-serif, monospace, arial;
	font-size: 1.5em;
	font-weight: bold;

	cursor: default;
}

.snk h2 {
	text-decoration: 0.2em var(--main-theme-color) underline;
}

.snk hr {
	background: var(--main-theme-color);

	height: 0.3em !important;

	opacity: 1 !important;
}

.snk div {
	margin: 1.5em 0 1.5em 0;
}

.snk p {
	color: var(--sec-black);

	margin-left: 2em;

	cursor: default;
}

.snk ul, .snk li {
	cursor: default;
}

.snk a {
	text-decoration: none;
}

.snk a:hover,
.snk a:focus {
	text-decoration: 0.1em solid underline;
}

	/* IFRAME */

iframe.fixed {
	position: fixed;
	bottom: 1em;
	right: 1em;

	opacity: 0.3;
	transition: 0.3s ease;
	z-index: 2;
}

iframe.fixed:hover,
iframe.fixed:focus,
iframe.fixed:active {
	opacity: 1;
}

	/* VIDEO */

.spoiler-content {
	position: relative;

	z-index: 0;
}

.spoiler-wrap {;
	background: var(--main-lnr-gdnt);
	background-size: 150%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	position: absolute;
	height: 315px;
	width: 570px;
	bottom: -1.5em;
	left: 50%;

	animation: bg-move 10s infinite ease;
	transform: translateX(-50%);
	z-index: 1;
}

.spoiler-wrap p, .spoiler-content a {
	font-family: 'Poppins', 'Quicksand', 'Roboto', sans-serif, monospace, arial;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.wrn-close {
	animation: squish 0.5s forwards ease;
	opacity: 1;
	transition: 0.2s ease;
}

.wrn-close p, .wrn-close button { opacity: 0; }

	/* BLOCKQUOTE */

.snk blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

.snk blockquote::before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.snk blockquote p {
	display: inline;
}

	/* ANIMATIONS */

@keyframes squish {
	0% { height: 315px; }
	100% { height: 0; }
}