	/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Raleway:ital,wght@0,200;0,500;1,300&family=Roboto+Slab&family=Rowdies:wght@700&display=swap');

	/* General CSS */

#music-table {
	background: var(--table-background-color); !important;
	color: var(--table-text-color);

	box-shadow: .1em .3em .7em 0 var(--sec-black2);
	cursor: default;
}

#music-table th,
#music-table td {
	padding: .5em 1.2em .5em 1.5em;
}

#music-table th:hover,
#music-table th:focus,
#music-table td:hover,
#music-table td:focus { font-weight: bold; }

#music-table th {
	font-family: 'Montserrat Alternates', 'Rowdies', monospace, sans-serif, arial;
	font-size: 1.2rem;
	text-align: center;
}

#music-table td {
	font-family: 'Raleway', 'Roboto Slab', monospace, sans-serif, arial;
	font-weight: 500;
}

#music-table td a {
	color: var(--table-text-color) !important;
}